.car-price::after {
  content: '$';
}
.car-info-group {
  display: grid;
  grid-row-gap: 16px;
}
.car-info-group > .car-info-card {
  min-height: 25vh;
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.car-info-group > .car-info-card > a {
  overflow: hidden;
  grid-column-start: 4;
  grid-column-end: -1;
  justify-self: stretch;
  min-height: 100%;
  background-color: #535353;
}
.car-info-group > .car-info-card > a > img {
  min-height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.car-info-group > .car-info-card > div {
  grid-column-start: 1;
  grid-column-end: -3;
  padding: 16px;
}
h1,
h2 {
  margin: 0;
}
a {
  color: #ff9900;
  text-decoration: none;
}
a:hover {
  text-decoration-line: underline;
}
body {
  color: white;
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content max-content;
  grid-row-gap: 16px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
body > header {
  -webkit-font-smoothing: antialiased;
  background-color: #1b1b1b;
  padding: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
body > header > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline;
}
body > header > h1 > span {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 4px;
  margin-left: 5px;
  color: black;
  background-color: #ff9900;
  border-radius: 4px;
}
body > header > p {
  display: inline;
  font-style: italic;
}
body > main {
  padding-left: 16px;
  padding-right: 16px;
}
body > footer {
  background-color: #1b1b1b;
  text-align: center;
  padding: 8px;
}
